<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> 메뉴선택 </h1>
<hr>
<form action="menuChoice" method="get">
	<input type="radio" name="menu_name" value="Americano"> 아메리카노
	<input type="radio" name="menu_name" value="latte"> 카페라떼  
	
	<input type="hidden" name="user_id" value="user1"> <!--  로그인되어있다라는 가정 -->
	<input type="submit" value="주문하기">
</form>

<!-- <button> 주문하기 </button>

<script type="text/javascript">
	const orderBtn = document.querySelector('body button');
	orderBtn.addEventListener('click', ()=>{
		document.location.href="http://localhost:8095/Biz/order"
	})
</script> -->

</body>
</html>